/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
HIDE-N-SEEK.CSS
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
$points: 1024,768,667,480,375;

/* Loop Through Breakpoints
-----------------------------------------------
/////////////////////////////////////////////// */
@each $pt in $points
{
    .show-#{$pt}                                                { display: none  !important;}

    @media screen and (max-width: #{$pt}px)
    {
    .show-#{$pt}                                                { display: block !important;}

    .show-#{$pt}.nl                                             { display: inline !important;}
    .show-#{$pt}.nlb                                            { display: inline-block !important;}

    table.show-#{$pt}                                           { display: table !important;}
    table tr.show-#{$pt}                                        { display: table-row !important;}
    table th.show-#{$pt},
    table td.show-#{$pt}                                        { display: table-cell !important;}

    .hide-#{$pt}                                                { display: none  !important;}
    }
}

/* Mobile v. Desktop
-----------------------------------------------
/////////////////////////////////////////////// */
.show,
.desktop .desk,
.mobile .mobi                                                   { display: block;}
.hide,
.mobile .desk,
.desktop .mobi                                                  { display: none !important;}
