/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
HIDE-N-SEEK.CSS
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
$classes:
''     'block',
'.nl'  'inline',
'.nlb' 'inline-block';

@each $cls in $classes
{
.show#{nth($cls, 1)},
.desktop .desk#{nth($cls, 1)},
.mobile .mobi#{nth($cls, 1)}                                    { display: #{nth($cls, 2)} !important;}
}

.hide,
.mobile .desk,
.desktop .mobi                                                  { display: none !important;}

/* Loop Through Breakpoints
-----------------------------------------------
/////////////////////////////////////////////// */
$points: 1024,768,667,480,375;

@each $pt in $points
{
    .show-#{$pt}                                                { display: none !important;}

    @media screen and (max-width: #{$pt}px)
    {
        @each $cls in $classes
        {
        .show-#{$pt}#{nth($cls, 1)}                             { display: #{nth($cls, 2)} !important;}
        }

        table.show-#{$pt}                                       { display: table !important;}
        table tr.show-#{$pt}                                    { display: table-row !important;}
        table th.show-#{$pt},
        table td.show-#{$pt}                                    { display: table-cell !important;}

        .hide-#{$pt}                                            { display: none !important;}
    }
}
